---
const { color } = Astro.props;
const textColor = `text-${color}`;
---

<header
  id="landing-header"
  class=`py-1 px-2 flex items-center fixed top-0 z-40 ${textColor}`
>
  <div class="logo">
    <img id="logo"  src="/icons/jorgeflynat.png" id="logo-nat" />
    <p id="logo-text">Producción de Imágenes</p>
    <p id="logo-text1">360º - Videos</p>
  </div>
  <nav class="flex flex-grow justify-end basis-0 md:m-5">
    <ul
      class="nav-menu text-sm [&>li>a]:transition-colors [&>li>a]:duration-500 [&>li>a]:text-current [&>li>a]:font-medium [&>li>a]:px-4 [&>li>a]:py-2"
    >
      <li class="btn-menu">
        <a href="/examples">
          Ingresar
        </a>
      </li>
      <li id="video" class="menu-img">
          <video muted autoplay loop src="/backgrounds/hotel-text.webm">
          </video>
      </li>
      <li>
        <img id="city" class="menu-img" src="/backgrounds/city-nocturna.avif" alt="Inmobiliarias">
      </li>
      <li>
      <img id="obelisco" class="menu-img" src="/backgrounds/obelisco-t.avif" alt="Empresariales">
    </li>
    <li>
      <img id="dunas" class="menu-img" src="/backgrounds/dunas-t.avif" alt="Eventos">
    </li>
      
      <li>
        <img id="parana" class="menu-img" src="/backgrounds/parana-costa.avif" alt="Turismo">
      </li>
    </ul>
  </nav>

  
  <div
  id="menu-backdrop"
  class={`
      absolute bg-white/5 backdrop-blur-lg rounded
      translate-x-[var(--left)] translate-y-[var(--top)]
      left-0 top-0
      w-[var(--width)] h-[var(--height)]
      transition-all duration-500
      ease-in-out opacity-0 -z-10
      `}
  >

</div>
</header>

<script>
  const listItem = document.querySelectorAll("#landing-header li")
  const menuBackDrop = document.querySelector("#menu-backdrop") as HTMLElement

  listItem.forEach((item) => {
    item.addEventListener("mouseenter", () => {
      const { left, top, width, height } = item.getBoundingClientRect()

      menuBackDrop.style.setProperty("--left", `${left}px`)
      menuBackDrop.style.setProperty("--top", `${top}px`)
      menuBackDrop.style.setProperty("--width", `${width}px`)
      menuBackDrop.style.setProperty("--height", `${height}px`)

      menuBackDrop.style.opacity = "1"
      menuBackDrop.style.visibility = "visible"
    })

    item.addEventListener("mouseleave", () => {
      menuBackDrop.style.opacity = "0"
      menuBackDrop.style.visibility = "hidden"
    })
  })
</script>

<style>
  .btn-menu {
    position: fixed;
    right: 1.2dvw;
    padding: 0.9dvh 0;
  }


  .menu-img {
    transition-duration: 500ms;
    position: fixed;
  }
  .menu-img:hover, .menu-img:active {
    transition-duration: 500ms;
    z-index: 50;
   }

  #video {
    width: 6rem;
    height: 4rem;
    top: 16dvh;
    right: 1dvw;
  }
  #city {
    width: 6rem;
    height: 3.5rem;
    top: 26.5dvh;
    right: 1dvw;
  }

  #obelisco {
    width: 6rem;
    height: 3.5rem;
    top: 37.5dvh;
    right: 1dvw;
  }

  #dunas {
    width: 6rem;
    height: 3.5rem;
    bottom: 43dvh;
    right: 1dvw;
  }

  #parana {
    width: 6rem;
    height: 3.5rem;
    bottom: 32dvh;
    right: 1dvw;
  }


  #video:hover, #video:active {
    width: 32dvw;
    top: 16dvh;
    right: 1dvw;
  }

  #city:hover, #city:active {
    width: 32dvw;
    height: 18.5dvw;
    top: 26.5dvh;
    right: 1dvw;
  }

  #obelisco:hover, #obelisco:active {
    width: 32dvw;
    height: 18.5dvw;
    top: 26dvh;
    right: 1dvw;
  }



  #dunas:hover, #dunas:active {
    width: 32dvw;
    height: 18.5dvw;
    bottom: 43dvh;
    right: 1dvw;
  }

  #parana:hover, #parana:active {
    width: 32dvw;
    height: 18.5dvw;
    bottom: 32dvh;
    right: 1dvw;
  }

  #logo {
    position: fixed;
    width: 40dvw;
    top: 18dvh;
    left: 27dvw
  }

  #logo-text {
    position: fixed;
    color: rgb(253, 211, 96);
    font-weight: 500;
    font-size: 2.5rem;
    top: 68dvh;
    left: 28dvw
  }

  #logo-text1 {
    position: fixed;
    color: rgb(253, 211, 96);
    font-weight: 500;
    font-size: 2.4rem;
    top: 75dvh;
    left: 36.9dvw
  }




  @media (max-width: 460px) and (orientation: portrait) {
    .nav-menu {
      margin: 0.5dvh 0;
    }

.btn-menu{
        width: 4rem;
        height: 1.7rem;
        display: flex;
        flex-direction: row !important;
        justify-content: center;
        align-items: center;
        font-size: 0.7rem;
        
}

.menu-img {
  margin: 1dvh 0;
  width: 4rem;
}

.menu-img:hover {
  margin: 1dvh 0;
  width: 30rem;
}

}


/* CSS pantalla 768px o superior */
@media (max-height: 460px) and (orientation: landscape) {
  .nav-menu {
      margin: 0.5dvh 0;
    }

.btn-menu{
        width: 5rem;
        height: 1.7rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.9rem;
}

.menu-img {
  margin: 1dvh 0;
  width: 5rem;
}

.menu-img:hover {
  float: left;
  margin: 1dvh 0;
  width: 40rem;
  height: 80dvh;
}

}
</style>
