---
const { color } = Astro.props;
const textColor = `text-${color}`;
---

<header
  id="landing-header"
  class=`py-1 px-2 flex items-center fixed top-0 z-40 ${textColor}`
>
  <nav class="logo">
    <ul>
      <li id="drone">
        <img src="/backgrounds/flydrone-solo.gif" alt="gif">
      </li>
      <li id="logo">
        <img src="/icons/jorgeflynat.png" id="logo-nat" />
      </li>

      <li class="text-container">
        <p id="logo-text">Grabación, edición y producción de imágenes para turismo, hotelería, empresas y eventos.</p>
        <p id="logo-text1">Fotografías 360º - Videos 4k</p>
      </li>
    </ul>
  </nav>
  <nav class="flex flex-grow justify-end basis-0 md:m-5">
    <ul
      class="nav-menu text-sm [&>li>a]:transition-colors [&>li>a]:duration-500 [&>li>a]:text-current [&>li>a]:font-medium [&>li>a]:px-4 [&>li>a]:py-2"
    >
      <li class="btn-menu">
        <a href="/examples">
          Ingresar
        </a>
      </li>
      <li id="video" class="menu-img">
          <video muted autoplay loop src="/backgrounds/hotel-text.webm">
          </video>
      </li>
      <li id="city" class="menu-img">
        <img src="/backgrounds/city-nocturna.avif" alt="Inmobiliarias">
      </li>
      <li id="obelisco" class="menu-img">
        <img src="/backgrounds/obelisco-t.avif" alt="Empresariales">
      </li>
      <li id="dunas" class="menu-img">
        <img src="/backgrounds/dunas-t.avif" alt="Eventos">
      </li>      
      <li id="parana" class="menu-img">
        <img src="/backgrounds/parana-costa.avif" alt="Turismo">
      </li>
    </ul>
  </nav>

  <img id="degree-360" src="/icons/360-degrees.png" alt="360 icon">

  
  <div
  id="menu-backdrop"
  class={`
      absolute bg-white/5 backdrop-blur-lg rounded
      translate-x-[var(--left)] translate-y-[var(--top)]
      left-0 top-0
      w-[var(--width)] h-[var(--height)]
      transition-all duration-500
      ease-in-out opacity-0 -z-10
      border-2
      `}
  >

</div>
</header>

<script>
  const listItem = document.querySelectorAll("#landing-header li")
  const menuBackDrop = document.querySelector("#menu-backdrop") as HTMLElement

  listItem.forEach((item) => {
    item.addEventListener("mouseenter", () => {
      const { left, top, width, height } = item.getBoundingClientRect()

      menuBackDrop.style.setProperty("--left", `${left}px`)
      menuBackDrop.style.setProperty("--top", `${top}px`)
      menuBackDrop.style.setProperty("--width", `${width}px`)
      menuBackDrop.style.setProperty("--height", `${height}px`)

      menuBackDrop.style.opacity = "1"
      menuBackDrop.style.visibility = "visible"
    })

    item.addEventListener("mouseleave", () => {
      menuBackDrop.style.opacity = "0"
      menuBackDrop.style.visibility = "hidden"
    })
  })
</script>

<style>


.logo {
    position: fixed;
    width: 30dvw;
    top: 20dvh;
    left: 8dvw;
  }

  #logo {
    padding: 5dvh;
  }

  #drone {
    z-index: 900;
    position: fixed;
    width: 30dvw;
    top: 17dvh;
    left: 22dvw;
  }

  .text-container {
    width: 45dvw;
    text-align: center;
    position: fixed;
    transition-duration: 500ms;
    color: rgb(253, 211, 96);
    font-weight: 500;
    font-size: 2dvw;
    top: 34dvh;
    left: 43dvw;
    text-wrap: pretty;
    padding: 2dvh 0;
    text-shadow: -1px -1px 1px #b96300, 1px -1px 1px #333, -1px 1px 1px #333, 1px 1px 1px #333;
  }

  .text-container:hover {
    transition-duration: 500ms;
    color: rgb(253, 211, 96);
  }

  #degree-360 {
    width: 3dvw;
    position: fixed;
    left: 3dvw;
    top: 3dvh;
  }

  .btn-menu {
    font-size: 1.1vmax;
    position: fixed;
    right: 1dvw;
    padding: 0.9dvh 0;
  }


  .menu-img {
    transition-duration: 500ms;
    position: fixed;
  }
  .menu-img:hover, .menu-img:active {
    transition-duration: 500ms;
    z-index: 50;
   }

  #video {
    width: 15vmin;
    height: 9vmin;
    top: 16dvh;
    right: 1dvw;
  }
  #city {
    width: 15vmin;
    height: 9vmin;
    top: 26.5dvh;
    right: 1dvw;
  }

  #obelisco {
    width: 15vmin;
    height: 9vmin;
    top: 37.5dvh;
    right: 1dvw;
  }

  #dunas {
    width: 15vmin;
    height: 9vmin;
    top: 48.5dvh;
    right: 1dvw;
  }

  #parana {
    width: 15vmin;
    height: 9vmin;
    top: 59.5dvh;
    right: 1dvw;
  }


  #video:hover, #video:active {
    width: 60dvw;
    top: 15dvh;
    right: 0.9dvw;
  }

  #city:hover, #city:active {
    width: 60dvw;
    top: 15dvh;
    right: 0.9dvw;
  }

  #obelisco:hover, #obelisco:active {
    width: 60dvw;
    top: 15dvh;
    right: 0.9dvw;
  }

  #dunas:hover, #dunas:active {
    width: 60dvw;
    top: 15dvh;
    right: 0.9dvw;
  }

  #parana:hover, #parana:active {
    width: 60dvw;
    top: 15dvh;
    right: 0.9dvw;
  }


  @media (max-width: 460px) and (orientation: portrait) {

    .logo {
    position: fixed;
    width: 60dvw;
    top: 15dvh;
    left: 13dvw;
  }

  #logo {
    padding: 2dvh;
  }

  #drone {
    z-index: 900;
    position: fixed;
    width: 25dvw;
    top: 13dvh;
    left: 45dvw;
  }

  .text-container {
    width: 45dvw;
    text-align: center;
    position: fixed;
    transition-duration: 500ms;
    color: rgb(253, 211, 96);
    font-weight: 500;
    font-size: 3.5dvw;
    top: 34dvh;
    left: 20dvw;
    text-wrap: pretty;
    padding: 2dvh;
    text-shadow: -1px -1px 1px #b96300, 1px -1px 1px #333, -1px 1px 1px #333, 1px 1px 1px #333;
  }

  .text-container:hover {
    transition-duration: 500ms;
    color: rgb(253, 211, 96);
  }


    .btn-menu {
    font-size: 1.5vmax;
    position: fixed;
    right: 0dvw;
    top: 2dvh;
    padding: 0.9dvh 0;
  }

  .menu-img {
    transition-duration: 500ms;
    position: fixed;
  }
  .menu-img:hover, .menu-img:active {
    transition-duration: 500ms;
    z-index: 50;
   }

   #degree-360 {
    width: 5dvw;
    position: fixed;
    left: 3dvw;
    top: 3dvh;
  }

  #video {
    width: 15vmin;
    height: 9vmin;
    top: 26dvh;
    right: 1dvw;
  }
  #city {
    width: 15vmin;
    height: 9vmin;
    top: 32.5dvh;
    right: 1dvw;
  }

  #obelisco {
    width: 15vmin;
    height: 9vmin;
    top: 39.5dvh;
    right: 1dvw;
  }

  #dunas {
    width: 15vmin;
    height: 9vmin;
    top: 46.5dvh;
    right: 1dvw;
  }

  #parana {
    width: 15vmin;
    height: 9.5vmin;
    top: 53.5dvh;
    right: 1dvw;
  }


  #video:hover, #video:active {
    width: 76dvw;
    top: 65dvh;
    right: 11dvw;
  }

  #city:hover, #city:active {
    width: 76dvw;
    height: 50dvw;
    top: 65dvh;
    right: 11dvw;
  }

  #obelisco:hover, #obelisco:active {
    width: 76dvw;
    height: 50dvw;
    top: 65dvh;
    right: 11dvw;
  }

  #dunas:hover, #dunas:active {
    width: 76dvw;
    height: 50dvw;
    top: 65dvh;
    right: 11dvw;
  }

  #parana:hover, #parana:active {
    width: 76dvw;
    height: 75dvw;
    top: 65dvh;
    right: 11dvw;
  }

}

@media (max-height: 460px) and (orientation: landscape) {

  .logo {
    position: fixed;
    width: 30dvw;
    top: 6dvh;
    left: 7dvw;
  }

  #logo {
    padding: 5dvh;
  }

  #drone {
    z-index: 900;
    position: fixed;
    width: 12dvw;
    top: 9dvh;
    left: 25dvw;
  }

  .text-container {
    width: 45dvw;
    text-align: center;
    position: fixed;
    transition-duration: 500ms;
    color: rgb(253, 211, 96);
    font-weight: 500;
    font-size: 2dvw;
    top: 43dvh;
    left: 41dvw;
    text-wrap: pretty;
    padding: 2dvh 0;
    text-shadow: -1px -1px 1px #b96300, 1px -1px 1px #333, -1px 1px 1px #333, 1px 1px 1px #333;
  }

  .text-container:hover {
    transition-duration: 500ms;
    color: rgb(253, 211, 96);
  }

  #logo-text1 {
    
  }

  .btn-menu {
    font-size: 1.1vmax;
    position: fixed;
    right: 1dvw;
    padding: 0.9dvh 0;
  }


  .menu-img {
    transition-duration: 500ms;
    position: fixed;
  }
  .menu-img:hover, .menu-img:active {
    transition-duration: 500ms;
    z-index: 50;
   }

  #video {
    width: 15vmin;
    height: 9vmin;
    top: 16dvh;
    right: 1dvw;
  }
  #city {
    width: 15vmin;
    height: 9vmin;
    top: 26.5dvh;
    right: 1dvw;
  }

  #obelisco {
    width: 15vmin;
    height: 9vmin;
    top: 37.5dvh;
    right: 1dvw;
  }

  #dunas {
    width: 15vmin;
    height: 9vmin;
    top: 48.5dvh;
    right: 1dvw;
  }

  #parana {
    width: 15vmin;
    height: 9vmin;
    top: 59.5dvh;
    right: 1dvw;
  }


  #video:hover, #video:active {
    width: 110dvh;
    top: 35dvh;
    right: 13dvw;
  }

  #city:hover, #city:active {
    width: 110dvh;
    top: 35dvh;
    right: 13dvw;
  }

  #obelisco:hover, #obelisco:active {
    width: 110dvh;
    top: 35dvh;
    right: 13dvw;
  }

  #dunas:hover, #dunas:active {
    width: 110dvh;
    top: 35dvh;
    right: 13dvw;
  }

  #parana:hover, #parana:active {
    width: 110dvh;
    top: 35dvh;
    right: 13dvw;
  }


}

</style>