---
import Logo from "./Logo.astro"
import Redes from "./Redes.astro"
const { color } = Astro.props;
const textColor = `text-${color}`;
---

<header
  id="galeria-header"
  class=`py-3 px-2 flex items-center top-0 w-full justify-between z-40 ${textColor}`
>
<nav class="flex flex-grow justify-start basis-0">
  <ul class="flex text-sm [&>li>a]:transition-colors [&>li>a]:duration-500 [&>li>a]:text-current [&>li>a]:font-medium [&>li>a]:inline-block [&>li>a]:px-2 [&>li>a]:py-2">
    <li title="Inicio" id="logo" class="block">
      <a href="/nextindex">
        <span class="flex"><Logo/></span>
      </a>
    </li>
  </ul>
</nav>

  <nav class="flex flex-grow justify-end basis-0">
    <ul
      class="flex text-sm [&>li>a]:transition-colors [&>li>a]:duration-500 [&>li>a]:text-current [&>li>a]:font-medium [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2"
    >
      <li class="block"><a href="/">Inicio</a></li>
      <li class="block"><a id="open-modal" href="#">Contacto</a></li>
    </ul>
  </nav>

  
  <div
  id="menu-backdropp"
  class={`
      absolute bg-gray-700 backdrop-blur-lg rounded-lg
      translate-x-[var(--left)] translate-y-[var(--top)]
      left-0 top-0
      w-[var(--width)] h-[var(--height)]
      transition-all duration-500
      ease-in-out opacity-0 -z-10
      `}
  >
</div>
<Redes />
</header>

<script>
  const listItemm = document.querySelectorAll("#galeria-header li")
  const menuBackDropp = document.querySelector("#menu-backdropp") as HTMLElement

  listItemm.forEach((itemm) => {
    itemm.addEventListener("mouseenter", () => {
      const { left, top, width, height } = itemm.getBoundingClientRect()

      menuBackDropp.style.setProperty("--left", `${left}px`)
      menuBackDropp.style.setProperty("--top", `${top}px`)
      menuBackDropp.style.setProperty("--width", `${width}px`)
      menuBackDropp.style.setProperty("--height", `${height}px`)

      menuBackDropp.style.opacity = "1"
      menuBackDropp.style.visibility = "visible"
    })

    itemm.addEventListener("mouseleave", () => {
      menuBackDropp.style.opacity = "0"
      menuBackDropp.style.visibility = "hidden"
    })
  })
</script>

<style>
  .fly{
    color: rgb(255, 198, 111);
    align-self: center;
  }
</style>