---
const { color, texto, visib, id, showFooterContent } = Astro.props;
const textColor = `text-${color}`;
import FooterMenu from './FooterMenu.astro';
import Detalles from "../indexcomp/Detalles.astro";
---

<section
  class=`landing-section ${textColor} h-screen w-screen overflow-hidden relative `
  data-header-color={color}
  id={id}
>
  <div class="z-30 relative h-full flex flex-col">
    
    <Detalles {texto} {visib}/>
    <footer class="flex flex-col flex-grow justify-end pb-20">
      <slot name="footer" />
      <!-- Contidionally load footer: -->
      {showFooterContent && <FooterMenu />}
    </footer>
  </div>

  <div class="absolute top-0 bottom-0 h-full w-full z-10">
    <slot name="background" />
  </div>
</section>

