---
const { color, texto, id, showFooterContent } = Astro.props;
const textColor = `text-${color}`;
import FooterMenu from './FooterMenu.astro';
import Detalles from "../indexcomp/Detalles.astro";
---

<section
  class=`landing-section ${textColor} h-screen w-screen overflow-hidden relative bg-black`
  data-header-color={color}
  id={id}
>
<div class="z-30 relative h-full flex justify-center">
    
    <Detalles {texto} />
    <footer class="flex flex-col flex-grow justify-end pb-20 text-gray-800">
      <slot name="footer" />
      {showFooterContent && <FooterMenu />}
    </footer>
  </div>

  <div class="absolute top-0 bottom-0 h-full w-full z-10">
    <slot name="background" />
  </div>

  <div class="absolute inset-0 z-20 bg-gradient-to-t from-black/80 via-black/10 to-transparent pointer-events-none"></div>
</section>
