---
const { xhref, xsrc, xalt, xtext, xcaption } = Astro.props;
---

<div class="thumbnail shdw">

    <figure>
        <figcaption>
            <i> {xtext}</i>
        </figcaption>
        <a href={xhref} target="_blank" title={xalt}
        ><img src={xsrc} alt={xalt} /></a
        >
            <small class="flex justify-end py-2 pe-10"><i> {xcaption}</i></small>
        
    </figure>
    
</div>

<style>
    .thumbnail {
        margin: 2vw 1vw;
        background-color: rgb(21, 32, 32);
        border-radius: 2%;
        max-width: 75vw;
    }
    figure{
        width: 65vw;
        width: 100%;
        padding: 2px;
        margin: 20px;
    }
    figcaption{
        width: 65vw;
        color: aliceblue;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-wrap: pretty;
        padding: 0 4px;
    }
    img{
        max-width: 65vw;
        object-fit: fill;
        border-radius: 2%;
    }

    @media(max-width: 1024px){
        .thumbnail {
        margin: 2vw 1vw;
        background-color: rgb(21, 32, 32);
        border-radius: 2%;
        max-width: 85vw;
    }
    figure{
        width: 75vw;
        width: 100%;
        padding: 2px;
        margin: 20px;
    }
    figcaption{
        width: 75vw;
        color: aliceblue;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-wrap: pretty;
        padding: 0 4px;
    }
    img{
        max-width: 75vw;
        object-fit: fill;
        border-radius: 2%;
    }
    }

    .shdw {
        box-shadow: 0 8px 16px 0 rgba(253, 253, 253, 0.2), 0 6px 20px 0 rgba(128, 128, 128, 0.699);
    }

    .shdw:hover {
        box-shadow: 0 12px 16px 0 rgba(182, 182, 182, 0.24), 0 17px 50px 0 rgba(141, 119, 119, 0.19);
    }

</style>